<!-- <div class="row">

<div class="col-xs-8 search-bar" >
<form [formGroup]="searchForm">
<div class="input-group">
<input class="input-sm form-control" formControlName="searchControl" #iptSearch placeholder="Pesquisar" type="text" [@toggleSearch]="searchBarState">
<span class="input-group-btn">
<a (click)="toggleSearch()" class="search-link pull-right">
<span *ngIf="iptSearch.value"><small>"{{iptSearch.value}}"</small></span> <i class="fa fa-search"></i>
</a>
</span>
</div>
</form>
</div>
</div> -->
<!-- <div class="row pull-right">
<div class="col-xs-12">

</div>
</div> -->

<!-- <div class="row"> -->
  <form [formGroup]="searchForm">
    <div class="form-group ">
      <input type="text" class="form-control" placeholder="Pesquisar..." formControlName="searchControl" #iptSearch>
    </div>
    <!-- <div class="form-group" style="padding-left:15px">
      <a (click)="toggleSearch()" class="search-link pull-right">
        <i class="fa fa-search fa-2x"></i>
      </a>
    </div> -->
  </form>
<!-- </div> -->
